<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-estudo</title>
</head>

<body>
    <h1>Blog Posts</h1>
    <ul>
        <% posts.forEach(post=> { %>
            <li>
                <a href="/posts/<%= post.id %>">
                    <%= post.title %>
                </a>
            </li>
            <% }) %>
    </ul>

    <form method="post" action="/posts">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea name="content" id="content"></textarea>
        </div </body>

</html>