main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
}

.c-msg {
  background-color: #ffffff;
  max-width: 400px;
  border-radius: 20px;

  padding: 1em;

  height: 90vh;

  display: flex;
  text-align: center;
  align-items: center;
}

.c-msg h3,
p {
  color: #0a3871;
  line-height: 24px;
  margin-top: 5px;
}

.c-textarea textarea {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4em;

  color: #0a3871;
  background-color: transparent;

  width: 80%;
  height: 579px;
  padding: 2em 1em;

  outline: none;
  border: 2px solid transparent;

  resize: none;
}
.c-btnarea {
  display: flex;
  justify-content: space-evenly;
}
